.principalBox{
    display:flex;
flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

 background-color: #0c0c07;   

}
.page{
    /* background-color: #202020; */
    height: fit-content;
    font-size: 1em;
    letter-spacing: 0.8em;
    color: #25252593;
  
}
.error{
 height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  background-color: rgba(229, 168, 168, 0.55);
align-items: center;
padding-bottom: 13em;

}
.errorFoto{
    
 width: 16em;
/* margin-top: 6em; */
}
.errorTitulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff000091;
    letter-spacing: 0.2em;
    font-weight: 900;
    font-size: 1.5em;
}
.errorP{
    color: #252525;
    background-color: #b0e1a268;
    padding: 4em;
    border-radius: 4em;
    border: 3px solid #cbf5af;
    letter-spacing: 0.2em;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 10em;
    margin-top: 4em;
    box-shadow: 0em 0em 5em 0.5em #202020;
}
.cards{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}